{% extends 'base.html' %}
{% load static %}
{% block title %}Password change done{% endblock %}
{% block content %}

<content>
<div class="top-header">
		<div class="row">
				<div class="col-xs-12 col-sm-6 col-lg-6 text-left">
						<h5 class="title_style">CHANGE PASSWORD SUCCESSFULLY</h5>
						<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">User</a></li>
								<li class="breadcrumb-item active" aria-current="page">change password successfully</li>
						</ol>
				</div>
		</div>
</div>
<div class="content-wrapper baner_sm set_password_page">
	<div class="row">
		<div class="col-12">
			<div class="maindiv wow fadeIn">
			<h2><span>Yeah.. all good!</span></h2>
				<img src="{% static "main/img/reset_logo.svg" %}" class="reset_logo">
			<h5>Your Password has been changed successfully.</h5>
			<form class="smart-form">
					<a href="{% url 'login' %}" class="primary_btn ">Back to Home</a>
			</form>
			</div>
		</div>
	</div>
</div>
</content>
{% endblock %}