<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="asplinks dashboard">
  <meta name="author" content="">
   <title>{% block title %} Dashboard {% endblock title %}</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
  <!-- Stylesheets -->
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <!-- Plugins -->
  <link rel="stylesheet" href="{% static "main/css/animate.css" %}">
  <link rel="stylesheet" href="{% static "main/css/style.css" %}">
  <link rel="stylesheet" href="{% static "main/css/login.css" %}">
</head>
<div class="loader show_sec"></div>


  <body>


    
    
      <content>
        <div class="landing_page_bg wow fadeIn" data-wow-duration="0.2s" data-wow-delay="0s">
          <div class="landing_page_inner">

            <span class="logo_primary">ASSDA</span>
            <span class="logo_secondary">
              <img src="{% static "main/img/logo.png" %}">
            </span>
              <div class="content_box hide_sec">
                <div class="content_float reset_password_content">
                    <div class="row">
                      <div class="col-sm-12">
                          <h2 class="title_md wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">RESET PASSWORD</h2>
				  <form class="smart-form" method="POST">
					{% csrf_token %}

					<div class="form-element form-input wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.1s">
						<input class="form-element-field" placeholder=" " type="email" name="email" id="id_email" required="" maxlength="254">
						<label class="form-element-label" for="">Email ID</label>
						<small class="form-element-hint">{{form.email.errors}}</small>
					</div>
					
					
					<section class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.2s">
					<input class="primary_btn w_100" type="submit" value="Reset Password">
					</section>
					<div class="in_link below_link wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.3s">
						<a href="{% url 'login' %}" class="btn btn-lg btn-yellow">Back to login</a>
					</div>
			
				</form>
                      </div>
                    </div>
                </div>
                <div class="white_bg wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.4s"></div>
                <div class="curve_bg wow slideInLeft" data-wow-duration="1.2s" data-wow-delay="0s"></div>
              </div>
          </div>
        </div>
      </content>
    



      <!-- jQuery CDN - Slim version (=without AJAX) -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <!-- Popper.JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <!-- Bootstrap JS -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
  
      <script src="{% static "main/js/wow.js" %}"></script>
      <script src="{% static "main/js/main.js" %}"></script>

      <script>
      
          $(window).on('load', function() {
              $('.loader').removeClass('show_sec').addClass('hide_sec');
              $('.content_box').removeClass('hide_sec').addClass('show_sec');
          });
      
  new WOW().init();
      
      </script>

      <script>
        $(window).resize(function()
        {
          $(".curve_bg").css("left",$(".white_bg").innerWidth() - 5);
        });
        $(".curve_bg").css("left",$(".white_bg").innerWidth() - 5);
      </script>
    
    
    <script>
    // Firefox 1.0+
    var isFirefox = typeof InstallTrigger !== 'undefined';

    if(isFirefox == true)
    {
        $(".side_filter_scroller").addClass("scroll_adjust_firefox");
    }

    var isEdge = !isIE && !!window.StyleMedia;
    if(isEdge == true)
    {
        $(".side_filter_scroller").addClass("scroll_adjust_ie");
        $(".form-element-label").addClass("ie_custom_form_label");
        $(".menu_box").addClass("border_bottom_menu");
        $(".delete_table_icon").addClass("ie_custom_table_btn");
    }
    
    var isIE = /*@cc_on!@*/false || !!document.documentMode;
    if(isIE == true)
    {
        $(".side_filter_scroller").addClass("scroll_adjust_ie");
        $(".form-element-label").addClass("ie_custom_form_label");
        $(".menu_box").addClass("border_bottom_menu");
        $(".delete_table_icon").addClass("ie_custom_table_btn");
    }
    
    var is_iPad = navigator.userAgent.match(/iPad/i) != null;
    if(is_iPad == true)
    {
      $(".curve_bg").removeClass("wow");
      $(".white_bg").removeClass("wow");
    }

</script>

  </body>

  </html>
      