<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="asplinks dashboard">
  <meta name="author" content="">
   <title>{% block title %} ASSDA Login {% endblock title %}</title>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'main/img/favicon.ico' %}" type="image/x-icon">
  <!-- Stylesheets -->
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="{% static "main/css/bootstrap.min.css" %}">
  <!-- Plugins -->
  <link rel="stylesheet" href="{% static "main/css/style.css" %}">
  <link rel="stylesheet" href="{% static "main/css/login.css" %}">
</head>


  <body>




      <content>
        <div class="landing_page_bg">
          <div class="landing_page_inner">

            <span class="logo_primary">ASSDA</span>
            <span class="logo_secondary">
              <img src="{% static "main/img/logo.png" %}">
            </span>
              <div class="content_box">
                <div class="content_float login_content">
                    <div class="row">
                      <div class="col-sm-12">
                          <h2 class="title_md">RESET PASSWORD</h2>
                          {% if validlink %}

                          <form class="smart-form" method="POST">
                                {% csrf_token %}

                                    <div class="form-element form-input ">
                                        <input type="password" class="form-element-field" name="new_password1" id="id_new_password1" required="" placeholder=" ">
                                        <label class="form-element-label" for="">New Password</label>
                                        <small class="form-element-hint">{{ form.new_password1.errors }}</small>
                                    </div>

                                    <div class="form-element form-input ">
                                        <input type="password" class="form-element-field" name="new_password2" id="id_new_password2" required="" placeholder=" ">
                                        <label class="form-element-label" for="">Confirm New Password</label>
                                        <small class="form-element-hint">{{ form.new_password2.errors }}</small>
                                    </div>


                                <section>
                                    <input class="primary_btn w_100" type="submit" value="Reset Password">
                                </section>
                        
                            </form>
                            

                            {% else %}
                            <div class="maindiv wow fadeIn">
                                <h5 class="message_text mt-25">This password reset link  has already been used. Please login.</h5>
                                <form class="smart-form">
                      
                                    <section>
                                        <a href="{% url 'login' %}" class="primary_btn">Back to  Login</a>
                                    </section>
                                </form>
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}

                      </div>
                    </div>
                </div>
                <div class="white_bg"></div>
                <div class="curve_bg"></div>
              </div>
          </div>
        </div>
      </content>




    <!-- jQuery 3.3.1 -->
    <script src="{% static "main/js/jquery-3.3.1.min.js" %}"></script>
    <!-- Font Awesome JS -->
    <script defer src="{% static "main/js/bootstrap.min.js" %}"></script>

    <script src="{% static "main/js/wow.js" %}"></script>
    <script src="{% static "main/js/main.js" %}"></script>

      <script>
        $(window).resize(function()
        {
          $(".curve_bg").css("left",$(".white_bg").innerWidth() - 5);
        });
        $(".curve_bg").css("left",$(".white_bg").innerWidth() - 5);
      </script>


<script>
    // Firefox 1.0+
    var isFirefox = typeof InstallTrigger !== 'undefined';

    if(isFirefox == true)
    {
        $(".side_filter_scroller").addClass("scroll_adjust_firefox");
    }

    var isEdge = !isIE && !!window.StyleMedia;
    if(isEdge == true)
    {
        $(".side_filter_scroller").addClass("scroll_adjust_ie");
        $(".form-element-label").addClass("ie_custom_form_label");
        $(".menu_box").addClass("border_bottom_menu");
        $(".delete_table_icon").addClass("ie_custom_table_btn");
    }
    
    var isIE = /*@cc_on!@*/false || !!document.documentMode;
    if(isIE == true)
    {
        $(".side_filter_scroller").addClass("scroll_adjust_ie");
        $(".form-element-label").addClass("ie_custom_form_label");
        $(".menu_box").addClass("border_bottom_menu");
        $(".delete_table_icon").addClass("ie_custom_table_btn");
    }
    
    var is_iPad = navigator.userAgent.match(/iPad/i) != null;
    if(is_iPad == true)
    {
      $(".curve_bg").removeClass("wow");
      $(".white_bg").removeClass("wow");
    }

</script>


  </body>

  </html>





