{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Your Password{% endblock %}
{% block content %}




<content>
		<div class="top-header">
			<div class="row">
				<div class="col-sm-12 col-lg-4 col-xs-12 text-left">
					<h5 class="title_style">CHANGE PASSWORD</h5>
					<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">User</a></li>
							<li class="breadcrumb-item active" aria-current="page">Change Password</li>
					</ol>
				</div>

			</div>
		</div>
		<div class="content-wrapper baner_sm">
				<div class="row">
						<div class="col-sm-6 col-xs-12 col-md-6">
								<div class="forgot-password">
										<div class="maindiv wow fadeIn">
										<form class="smart-form" method="POST">
												{% csrf_token %}


											<div class="form-element form-input mt-0">
												<input type="password" class="form-element-field" name="old_password" id="id_old_password" required="" placeholder=" ">

												<label class="form-element-label" for="">Current Password</label>
												<small class="form-element-hint">{{ form.old_password.errors }}</small>
											</div>



											<div class="form-element form-input mt-10">
												<input type="password" class="form-element-field" placeholder=" " name="new_password1" id="id_new_password1" required="">
												<label class="form-element-label" for="">New Password</label>
												<small class="form-element-hint">{{ form.new_password1.errors }}</small>
											</div>


											<div class="form-element form-input mt-10">
													<input type="password" class="form-element-field" name="new_password2" id="id_new_password2" required="" placeholder=" ">
													<label class="form-element-label" for="">Confirm New Password</label>
													<small class="form-element-hint">{{ form.new_password2.errors }}</small>
												</div>

												<div class="row">
													<div class="col-sm-12 align_right button_group">
														<a href="{% url 'user_details' user.pk%}">Cancel</a>
														<input class="primary_btn" type="submit" value="Change Password">
													</div>
												</div>
											
									
										</form>
										</div>
									</div>
						</div>
				</div>
		</div>
</content>



{% endblock %}
